<div class="container mt-5 mb-5 d-flex justify-content-center">
  <div class="card px-1 py-4">
    <div class="card-body">
      <h6 class="card-title mb-3 text-secondary">Información Básica</h6>

      <div class="row mt-2">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="text-secondary small">Primer apellido</label>
            <div class="input-group">
              <input
                class="form-control"
                type="text"
                placeholder=" "
                name="firstSurName"
                disabled
                [value]="user?.primerApellido || ''"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="text-secondary small">Primer Nombre</label>
            <div class="input-group">
              <input
                class="form-control"
                type="text"
                placeholder=" "
                name="firstName"
                disabled
                [value]="user?.nombre || ''"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
