<div class="container mt-5 mb-5 d-flex justify-content-center">
  <div class="card px-1 py-4">
    <div class="card-body">
      <h6 class="card-title mb-3 text-secondary">Información Básica</h6>

      <div class="row mt-2">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="text-secondary small">Primer apellido</label>
            <div class="input-group">
              <input
                class="form-control"
                type="text"
                placeholder=" "
                name="firstSurName"
                disabled
                [value]="user?.primerApellido || ''"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="text-secondary small">Primer Nombre</label>
            <div class="input-group">
              <input
                class="form-control"
                type="text"
                placeholder=" "
                name="firstName"
                disabled
                [value]="user?.nombre || ''"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">P Apellido</th>
      <th scope="col">S Apellido</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Dirección</th>
      <th scope="col">Ciudad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userClass">
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.nombre }}</td>
      <td>{{ user.primerApellido }}</td>
      <td>{{ user.segundoApellido }}</td>
      <td>{{ user.telefono }}</td>
      <td>{{ user.direccion }}</td>
      <td>{{ user.ciudad }}</td>
    </tr>
  </tbody>
</table> -->
